<div class="container-fluid bg">
  <footer class="py-5 px-5">
    <div class="row">
      <div class="col-4 offset-1 mb-5">
        <form>
          <h5>Subscribe to newsletter</h5>
          <p>Subscribe to newsletter to get 5% on all Products</p>
          <div class="col-md-6">
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter1"
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <button class="btn btn-danger" type="button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="d-flex w-100 gap-2">
          <h3 class="ms-5">
            <a href=""><i class="bi bi-facebook"></i></a>
          </h3>
          <h3 class="ms-5">
            <a href=""><i class="bi bi-instagram"></i></a>
          </h3>
          <h3 class="ms-5">
            <a href=""><i class="bi bi-youtube"></i></a>
          </h3>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/Images/logoF.jpg" alt="logoFooter" />
      </div>
      <div class="col-md-2">
        <h5>Shop Men</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Clothing Fashion</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Winter</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Summer</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Formal</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Casual</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Shop Women</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Clothing Fashion</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Winter</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Summer</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Formal</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Casual</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Baby Collection</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Clothing Fashion</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Winter</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Summer</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Formal</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Casual</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Track Your Order</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Support</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">FAQ</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Carrier</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">About</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="py-4 my-4 border-top">
      <p class="text-center">© 2021 Company, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>
