<br />
<div class="example-container shadow p-3 mb-5 bg-body rounded container">
  <div class="form-container mt-5">
    <h1 class="text-center">Reset Password</h1>
    <p class="text-center">
      Please enter your email address to request a password reset.
    </p>
    <form [formGroup]="loginForm" class="mb-5">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail </mat-label>
        <input matInput formControlName="email" #passwordResetEmail required />
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']"
          >This field is mandatory.</mat-error
        >
      </mat-form-field>

      <div class="">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.loginForm.valid"
          (click)="ForgotPassword(passwordResetEmail.value)"
        >
          Reset Password
        </button>
      </div>
      <br />
      <p>
        <span>Go back to ? <a routerLink="/login">Sign In</a></span>
      </p>
    </form>
  </div>
</div>
