<div class="container-fluid text-center">
  <div class="container mb-3">
    <h1>You May Like This</h1>
  </div>

  <div class="container mt-5 mb-5">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-2 text-center zoom"></div>

            <div
              class="col-md-2 text-center zoom"
              *ngFor="let item of productList"
            >
              <img src="{{ item.image }}" class="d-block w-100" alt="..." />
              <div class="text-center inner">
                <div class="row">
                  <div class="col" (click)="addtocart(item)">
                    <i class="bi bi-cart2"></i>
                  </div>
                  <div class="col"><i class="bi bi-heart"></i></div>
                  <div class="col"><i class="bi bi-search"></i></div>
                </div>
              </div>
              <br />
              <p>
                Cashmere Tank + Bag
                <br />
                <b> ${{ item.price }}</b>
              </p>
            </div>

            <div class="col-md-2 text-center zoom"></div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-md-2 text-center zoom"></div>
            <div
              class="col-md-2 text-center zoom"
              *ngFor="let item of productList"
            >
              <img src="{{ item.image }}" class="d-block w-100" alt="..." />
              <div class="text-center inner">
                <div class="row">
                  <div class="col" (click)="addtocart(item)">
                    <i class="bi bi-cart2"></i>
                  </div>
                  <div class="col"><i class="bi bi-heart"></i></div>
                  <div class="col"><i class="bi bi-search"></i></div>
                </div>
              </div>
              <br />
              <p>
                Cashmere Tank + Bag
                <br />
                <b> ${{ item.price }}</b>
              </p>
            </div>

            <div class="col-md-2 text-center zoom"></div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-md-2 text-center zoom"></div>
            <div
              class="col-md-2 text-center zoom"
              *ngFor="let item of productList"
            >
              <img src="{{ item.image }}" class="d-block w-100" alt="..." />
              <div class="text-center inner">
                <div class="row">
                  <div class="col" (click)="addtocart(item)">
                    <i class="bi bi-cart2"></i>
                  </div>
                  <div class="col"><i class="bi bi-heart"></i></div>
                  <div class="col"><i class="bi bi-search"></i></div>
                </div>
              </div>
              <br />
              <p>
                Cashmere Tank + Bag
                <br />
                <b> ${{ item.price }}</b>
              </p>
            </div>

            <div class="col-md-2 text-center zoom"></div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
