<div class="container-fluid">
  <div class="container px-3">
    <div class="row gx-5 mx-5 mt-5">
      <div class="col-sm-4 col-md-4 p-2 zoom single-team">
        <img src="../../../assets/Images/mensF.jpg" class="w-100" alt="mensF" />
        <div class="team-text text-center">
          <h2>Men's Fashion</h2>
          <p><a href="" class="shopNow">Shop Now</a></p>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 p-2 zoom single-team">
        <img
          src="../../../assets/Images/womenF.jpg"
          class="w-100"
          alt="womenF"
        />
        <div class="team-text text-center">
          <h2>Women's Fashion</h2>
          <p><a href="" class="shopNow">Shop Now</a></p>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 p-2 zoom single-team">
        <img src="../../../assets/Images/babyF.jpg" class="w-100" alt="babyF" />
        <div class="team-text text-center">
          <h2>Baby Fashion</h2>
          <p><a href="" class="shopNow">Shop Now</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
