<div class="container-fluid mb-5 p-5">
  <div class="container text-center">
    <h1>Latest News</h1>
  </div>
  <div class="container px-3">
    <div class="row gx-5 mx-5 mt-5">
      <div class="col-sm-4 col-md-4 p-2">
        <img
          src="../../../assets/Images/secc31.jpg"
          class="w-100"
          alt="mensF"
        />
        <br /><br />
        <p class="text-muted">Fashion Tips</p>
        <br />
        <h3>What Curling Irons Are The Best Ones</h3>
        <br />
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur. <br />
          adipisicing elit. Commodi, tenetur.
        </p>

        <a href="" style="color: maroon">read More</a>
      </div>
      <div class="col-sm-4 col-md-4 p-2">
        <img
          src="../../../assets/Images/sec32.jpg"
          class="w-100"
          alt="womenF"
        />
        <br /><br />
        <p class="text-muted">Fashion Tips</p>
        <br />
        <h3>Vogue's Ultimate Guide To Autumn/ Winter 2019 Shoes</h3>
        <br />
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur. <br />
          adipisicing elit. Commodi, tenetur.
        </p>

        <a href="" style="color: maroon">read More</a>
      </div>
      <div class="col-sm-4 col-md-4 p-2">
        <img src="../../../assets/Images/sec33.jpg" class="w-100" alt="babyF" />
        <br /><br />
        <p class="text-muted">Fashion Tips</p>
        <br />
        <h3>What Curling Irons Are The Best Ones</h3>
        <br />
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur. <br />
          adipisicing elit. Commodi, tenetur.
        </p>

        <a href="" style="color: maroon">read More</a>
      </div>
    </div>
  </div>
</div>
